html {
  margin: 5px;
}

.App {
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
}

.searchbar {
  border: 2px solid lightcoral;
  box-shadow: 4px 4px lightcoral;
  border-radius: 4px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.searchbar button {
  display: flex;
  border: 2px solid lightcoral;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: lightcoral;
  font-weight: bold;
  height: 54px;
}

.searchbar button:active {
  border-color: rgb(175, 93, 93);
  box-shadow: 4px 4px rgb(175, 93, 93);
  transform: translateY(4px);
}

.searchbar input {
  display: flex;
  height: 95%;
  width: 95%;
  border: none;

  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: lightcoral;
  font-weight: bold;
}

button:focus,
input:focus {
  outline: none;
}

.tools {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid lightcoral;
  box-shadow: 4px 4px lightcoral;
  border-radius: 4px;
  margin-bottom: 15px;
}

.edition {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-top: 5px;
}

.edition input {
  display: flex;
  border: 2px solid lightcoral;
  box-shadow: 4px 4px lightcoral;
  border-radius: 4px;
  color: lightcoral;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

.tools .button {
  display: flex;
  width: inherit;
}

.tools .button button {
  display: flex;
  margin: 10px;
  width: 50%;
  border: 2px solid lightcoral;
  box-shadow: 4px 4px lightcoral;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  background-color: lightcoral;
  color: lightcoral;
  font-weight: bold;
}

.tools button:active {
  border-color: rgb(175, 93, 93);
  box-shadow: 4px 4px rgb(175, 93, 93);
  transform: translateY(4px);
}

.viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid lightcoral;
  box-shadow: 4px 4px lightcoral;
  border-radius: 4px;
  height: 350px;
  margin-bottom: 15px;
}

.results {
  display: flex;
  align-items: center;
  border: 2px solid lightcoral;
  box-shadow: 4px 4px lightcoral;
  border-radius: 4px;
  height: 175px;
  margin-bottom: 15px;
  overflow: scroll;
  padding: 10px;
  flex-direction: row;
}

.video-thumbnail {
  width: 150px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: small;
  padding: 5px;
}

.video-thumbnail:hover {
  background-color: lightcoral;
  color: white;
  cursor: pointer;
}

.loader-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid lightcoral;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
