.App {
  text-align: center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
}

.searchbar {
  border: 2px solid lightcoral;
  border-radius: 4px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.searchbar input {
  display: flex;
  height: 95%;
  width: 95%;
  border: none;

  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: lightcoral;
  font-weight: bold;
}

button:focus,
input:focus {
  outline: none;
}

.tools {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid lightcoral;
  border-radius: 4px;
  margin-bottom: 15px;
}

.edition {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-top: 5px;
}

.edition input {
  display: flex;
  border: 2px solid lightcoral;
  border-radius: 4px;
  color: lightcoral;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

.tools button {
  display: flex;
  margin: 10px;
  width: 50%;
  border: 2px solid lightcoral;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: lightcoral;
  font-weight: bold;
}

.viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid lightcoral;
  border-radius: 4px;
  height: 400px;
  margin-bottom: 15px;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid lightcoral;
  border-radius: 4px;
  height: 150px;
  margin-bottom: 15px;
}
